.custom-btn {
    background: hsl(0, 0%, 20%);
    color: hsl(0, 0%, 100%);
    border: none;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
    width: auto;
}

.custom-btn:hover {
    background-color: hsl(75, 94%, 57%);
    color: black;
}

.card-text {
    font-size: 14px;
}

.card-title {
    font-size: 43px;
}

.sub-title {
    font-size: 14px;
    color: hsl(75, 94%, 57%);
}

.card {
    color: hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 12%)
}

body {
    background-color: hsl(0, 0%, 8%);
}

.attribution { 
    font-size: 11px; 
    text-align: center;
    color: hsl(0, 0%, 100%);
    margin-bottom: 100px;
}

.attribution a { 
    color: hsl(0, 0%, 100%); 
}

.img-avatar {
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 50%;
}

.container-lg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}