.custom-btn {
    background: hsl(0, 0%, 20%);
    color: hsl(0, 0%, 100%);
    border: none;
    cursor: pointer;
    transition: background-color 0.5s, color 0.5s;
    width: auto;
    padding: 13px;
}

.custom-btn:hover {
    background-color: hsl(75, 94%, 57%);
    color: black;
}

.card-text {
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 5px;
}

.card-title {
    font-size: 43px;
}

.sub-title {
    font-size: 14px;
    color: hsl(75, 94%, 57%);
}

.card {
    color: hsl(0, 0%, 100%);
    background-color: hsl(0, 0%, 12%);
    width: 100%; /* Set the width to 100% */
    height: 100%; /* Set the height to 100% */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

body {
    background-color: hsl(0, 0%, 8%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.attribution { 
    font-size: 11px; 
    text-align: center;
    color: hsl(0, 0%, 100%);
    margin-top: 25px;
}

.attribution a { 
    color: hsl(0, 0%, 100%); 
}

.img-avatar {
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 50%;
}

.container-lg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    margin: 0;
    width: auto;
    border-radius: 10px; /* You can adjust the value to control the roundness */
    overflow: hidden;
}

/* Add this style to the CSS */
.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
  